body{
    background-color: azure !important;
}
div{
    text-align: center;
    margin: 20px;
}

.jumbotron{
    color: black;
    text-align: center;
    background-color: cadetblue;
}
.nav-pills .active{
    background-color: cadetblue;
}


